---
layout: default
featured:
 - icon: fas fa-apple-alt
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. 
 - icon: fas fa-apple-alt
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. 
 - icon: fas fa-carrot
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. 
 - icon: fas fa-pizza-slice
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. 
---

    <!--------------------- Header / Banner ----------------------->
    <header class="grid-spaceBetween tall-100 md-tall-80">

        {% include header-nav.html %} 

        <div class="col-12 text-center">
            <h3 class="font-weight-extra-bold editable">
                <span class="featured-text">Sleep</span> like Nala
            </h3>
            <h1 class="font-weight-light editable">
                The ultimate mattress solution
            </h1>
        </div>
      </header>


    <!--------------------- Image / Text Combination-->
    <section class="grid">
        <div class="padded col-6-middle">
            <h2>built to last a <span class="featured-text">lifetime</span></h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci aliquam et blanditiis quibusdam dolores maxime aperiam sapiente laboriosam maiores, tempore dolorum quos nostrum magni neque consectetur repellendus rerum sit fuga.</p>
        </div>
        <div class="bg-bed col-6 height-70">

        </div>
        <div class="bg-pug col-6 height-70">

        </div>
        <div class="padded col-6-middle">
            <h2>so <span class="featured-text">soft</span> you'll melt</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ipsam quas atque voluptatum non praesentium, accusantium neque omnis, eligendi corrupti laudantium quibusdam? Dolorum eligendi, sapiente quae sunt aut alias quam?</p>
        </div>
    </section>

    <!--------------Features Section ---------------------------->
<!--------------- Feature icons grid --------------->

    <section class="padded grid-center bg-dark">
        <div class="padded-sm col-12 text-center">
            <h2><span class="featured-text">Features</span> you will love</h2>
        </div>
        
        {% for item in page.featured %}
        
        <div class="padded-sm col-3_sm-6 xxs-stack editable">
            <i class="{{item.icon}}"></i>
            <p class="text-center">{{item.description}}</p>
        </div>
        
        {% endfor %}
        
    </section>

    <!--------------        Good night sleep section  ---------------------->
    <section class="padded text-center bg-pillow height-70 grid">
        <div class="col-12-middle">
        <h3 class="big-text"><span class="small-text font-weight-normal">never underestimate the power of</span>
            <br> a good night <span class="white-text">sleep</span>
        </h3>
        </div>
    </section>


    <!----------------      Sleep experience section        ------------------------>

    <section class="padded-lg grid">
        <div class="col-1 text-right">
            <span class="quote-icon">&#8220</span>
        </div>
        <div class="col-10 text-center font-weight-thin medium-text">
            <p>I've never experienced sleep like this. Omg I really love this mattresss I want to buy one for every member of my team</p>
            <p class="subtitle">- A very happy customer</p>
        </div>
        <div class="col-1">
            <span class="quote-icon">&#8221</span>
        </div>
    </section>

