<footer class="padded grid-spaceBetween bg-dark">
    <div class="col-4-bottom">
        <h2>let's 
            <br><span class="featured-text">connect</span>
        </h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab quis fugit repellendus, accusantium eum magnam. Enim, id praesentium tempora cumque laboriosam autem neque dolorum temporibus, tempore deserunt soluta! Rem, ipsam?
        </p>
    </div>
    <div class="col-6-bottom">
        <p><strong>Call:</strong> 04 555 5555</p>
        <p><strong>Email:</strong> hello@thesleep.co</p>
        <p><strong>Store:</strong> 55 Main St. Chicago</p>
        <p><strong>Instagram:</strong> @thesleepco</p>
    </div>
</footer>