<head>
    <title>The Sleep Co</title>





    <!----------            Lightgallery                        -->
    <link type="text/css" rel="stylesheet" href="css/lightgallery.css" />

    <!---------             Animate on Scroll                   -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!--------          Viewport for mobile phone to tell them that I can handle the sizing myself  -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-----     Google Font Catamaran (200,400,500, 800) ---------->
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@200;400;500;800&display=swap" rel="stylesheet">
 <!--------------   Gridlex    -------------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">
    <!--------------   Fontawesome Icons     -------------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--   This is our CSS Stylesheet, this always goes last!!! -->
    <link rel="stylesheet" href="/style.css">
</head>